@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden;
}



.swiper {
  width: 95vw;
  max-height: 90vh;
  overflow: scroll;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
